<!--The whole content below can be removed with the new code.-->

<div class="container" fxLayoutAlign="center">

    <md-card fxFlex="grow">
        <md-toolbar color='primary'>

                <md-card-title fxFlexAlign="start">Bloc Chat</md-card-title>
                <md-card-subtitle fxFlexAlign="end">with angular and material design components</md-card-subtitle>

        </md-toolbar>
        <div fxLayout="row" fxLayoutGap="20px" fxAlign="space-around stretch">



             <rooms fxFlex="33"></rooms>



              <messages fxFlex="grow"></messages>

        </div>


    </md-card>

</div>
